<h1>WELLCOME TWO</h1>
<br>
<br>
<p>Esta pagina es de bienvenida (con restricciones) / <strong>config->policies.js</strong> </p>
<p>isAuthenticated a sido creado en: | <strong>policies->isAuthenticated.js</strong> </p>