<h1>Eres bienvenido, por que pasaste el login</h1>

<%= username %> <p>este valor lo traes con req.user.username </p>

<% if(username) {%>
    <p>este valor existe, paso la validacion en vista</p>
<% } %>